

*{
box-sizing: border-box;
background-color: rgb(252, 243, 166);
align-items: center;
}

h1{
  font-size: 50px;
  font-weight: 600;
  font-family:sans-serif;
  color: rgb(47, 219, 219);
  text-align: center;
}
#img{
 align-items: center; 
  
}
 #img{
  align-items: center;
}
#form{
  width:200px;
}
button{
  color: rgb(12, 5, 5);
}